<!DOCTYPE html>
<html <%- htmlAttributes %>>
<head>
  <%- meta %>
  <%- title %>
  <%- link %>
  <%- style %>
</head>
<body>
  <div id="app"><%- markup %></div>
  <h3>Initial state:</h3>
  <pre><%- appState %></pre>
  <script>
    window.APP_STATE = <%- appState || {} %>;
  </script>
  <script src="app.js"></script>
  <%- script %>
</body>
</html>
