<!DOCTYPE html>
<html <%- htmlAttributes %>>
<head>
  <%- meta %>
  <%- title %>
  <%- link %>
  <%- style %>
</head>
<body>
  <div id="app"><%- markup %></div>
  <script src="client.js"></script>
  <%- script %>
</body>
</html>

